@charset "UTF-8";

* {
    font-family:Arial, Helvetica, sans-serif;
    /*height: 100%;*/
}
body {
    background-image: linear-gradient(to right, #F2D479, #F2BC79);

}
main {
    background-color: white;
    border-radius: 10px;
    box-shadow: 5px 5px 15px #d94a3d5f;
    width: 600px;
    padding: 10px;
    margin: auto;
}
h1 {
    text-align: center;
    color:#BF4B75 ;
    text-shadow: 1px 2px 0px #7d2a2241;

}
h2 {
    color:#D94A3D ;

}
p {
    text-align: justify;
}